#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac > #backgroundBox {
  position: absolute;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 99.99999999999994%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #F4F4F4;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg span#rtr-s-Bg_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom {
  position: absolute;
  width: 100.0%;
  min-height: 84.0px;
  opacity: 0.82;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 12.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Bg_bottom span#rtr-s-Bg_bottom_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 12.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_2 {
  position: absolute;
  width: 93.25000000000006px;
  min-height: 82.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_3 {
  position: absolute;
  width: 93.25px;
  min-height: 82.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_4 {
  position: absolute;
  width: 93.25000000000003px;
  min-height: 82.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_5 {
  position: absolute;
  width: 93.25000000000011px;
  min-height: 82.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_5 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_15 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_16 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_3 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_13 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_14 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Path_1 {
  position: absolute;
  width: 36.15730285644531px;
  height: 32.18000030517578px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_2 {
  position: absolute;
  width: 30.0px;
  height: 27.522935779816482px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_6 {
  position: absolute;
  width: 30.0px;
  height: 27.522935779816542px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_7 {
  position: absolute;
  width: 30.0px;
  height: 27.52293577981654px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_8 {
  position: absolute;
  width: 30.0px;
  height: 27.522935779816535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 {
  position: absolute;
  width: 299.0000000000001px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 {
  position: absolute;
  width: 299.0000000000001px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 {
  position: absolute;
  width: 299.0000000000001px;
  min-height: 115.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 > .borderLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_10 {
  position: absolute;
  width: 186.1250000000001px;
  min-height: 31.96881159211233px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 18.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 18.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button {
  position: absolute;
  width: 94.93333400374532%;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button > .borderLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button span#rtr-s-Button_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 {
  position: absolute;
  width: 94.93333400374532%;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 > .borderLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_1 span#rtr-s-Button_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 {
  position: absolute;
  width: 94.93333400374532%;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 > .borderLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_2 span#rtr-s-Button_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph {
  position: absolute;
  width: 267.742202758789px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_1 {
  position: absolute;
  width: 267.742202758789px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_2 {
  position: absolute;
  width: 267.742202758789px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Image_9 {
  position: absolute;
  width: 34.0px;
  height: 31.192660550458747px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 {
  position: absolute;
  width: 94.93333400374532%;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #2BDE9F;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 > .borderLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac #s-Hotspot_1 {
  position: absolute;
  width: 319.49999999999994px;
  height: 134.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-02d2b7a2-eec7-4aaa-a7fa-6def12ffe2ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
