#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  position: absolute;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 99.99999999999993%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #EEF1F4;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Bg span#rtr-s-Bg_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_13 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_14 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph {
  position: absolute;
  width: 272.41015625px;
  min-height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Verdana',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph .valign {
  vertical-align: top;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 {
  position: absolute;
  width: 388.0px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 {
  position: absolute;
  width: 94.93333400374532%;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #2BDE9F;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 > .borderLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 14.0pt;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 {
  position: absolute;
  width: 112.75999999999996px;
  height: 111.64356435643572px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Hotspot_1 {
  position: absolute;
  width: 418.0px;
  height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
